<div class="quizz__container">
  <div class="quizz_logo">
    <img src="assets/imgs/logo.png" alt="" />
    <h3>{{ title }}</h3>
  </div>
  <div *ngIf="!finished" class="quizz_questions">
    <img src="{{questionSelected.image}}" alt="">
    <h3>{{ questionSelected.question }}</h3>
  </div>
  <div *ngIf="!finished" class="quizz_options">
    <button
      *ngFor="let option of questionSelected.options; let i = index"
      (click)="playerChoose(option.counter)"
      class="btn_option"
    >
      {{ option.name }}
    </button>
  </div>
  <div *ngIf="finished" class="quizz_results">
    <h1>O seu resultado é:</h1>
    <img src="{{answerSelected.image}}" alt="">
    <p>{{answerSelected.mob}}</p>
    <p>{{answerSelected.description}}</p>
  </div>
  <div *ngIf="finished" class="quizz_redo">
    <button class="btn_option" (click)="redo()">Refazer o teste</button>
  </div>
</div>
